body {
    background-color: #f0f1ef;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header span {
    color: #005D2F;
}


/*-- Header --*/

header {
    background: #fff;
    padding: 8px 0;
    font-size: 16px;
    font-family: 'Goudy Bookletter 1911', sans-serif;
}

#title {
    font-size: 20px;
}

header .logo img {
    height: 30px;
    width: 30px;
}

header .profile a {
    text-decoration: none;
}


/*-- Información perfil --*/

nav .imgProfile {
    border-radius: 3px 0px 3px 0px;
}


/*-- Main --*/

main {
    padding-top: 10px;
}


/*-- Menu lateral --*/

main .barra-lateral-izquierda {
    padding-bottom: 10px;
    padding-left: 4px;
}

main .barra-lateral-izquierda nav {
    border-bottom: 1px solid #c7c8ca;
    padding-bottom: 15px;
}

main .barra-lateral-izquierda nav a {
    display: block;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

main .barra-lateral-izquierda nav a:hover {
    background: #f2f2f2;
    text-decoration: none;
}

main .barra-lateral-izquierda nav a i {
    margin-right: 10px;
}


/*-- Contenido Principal -- */


/*publicar*/

main .contenido-principal .publicar {
    margin-bottom: 20px;
}

main .contenido-principal .publicar .foto a {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    border-radius: 7px 7px 7px 7px;
    margin-top: 20px;
}

main .contenido-principal .publicar .foto img {
    width: 100%;
}

main .contenido-principal .publicar form textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #565656;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 35);
}

main .contenido-principal .publicar form .contenedor-botones {
    padding: 10px 0;
    border-bottom: 1px solid #c7c8ca;
}

main .contenedor-botones a {
    color: #8d8d8d;
    font-size: 20px;
    margin-right: 8px;
}

main .contenedor-botones a:hover {
    color: #3d3d3d;
}

main .contenido-principal .publicar form button {
    border: 1px solid #fff;
    padding: 5px 30px;
    font-size: 14px;
    font-family: 'Signika Negative', sans-serif;
    background: linear-gradient(to bottom, #005d2f, #50c068d5 100%);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

main .contenido-principal .publicar form button:hover {
    background: linear-gradient(to bottom, #50c068d5 #005d2f 100%);
}


/* main .publicacion div #cont {
    border-radius: 0.4em;
    margin: 0 auto;
    color: #4E4D53;
    
} */

main .publicacion div #cont span {
    margin-left: 1em;
}

main .publicacion div #cont {
    padding: 1em 0.5em;
    /*margin-bottom: 2em;
    outline: 0.1em solid #E5E3F2;*/
    background-color: #FFF;
    border-radius: 0.4em;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #4E4D53;
    text-align: left;
}


/*--publicaciones*/

main .publicacion {
    margin-bottom: 20px;
}

main .foto {
    padding-right: 0px;
}

main .publicacion .foto a {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 7px 7px 7px 7px;
}

main .publicacion .foto img {
    width: 100%;
}

main .publicacion .nombre {
    line-height: 16px;
    display: inline-block;
    margin-bottom: 10px;
}

main .publicacion .texto {
    background: #fff;
    color: #3d3c3c;
    margin-bottom: 3px;
}

main .publicacion .texto p {
    padding: 0;
}

main .publicacion .post .caja-botones {
    margin-bottom: 20px;
}

main .publicacion .post .caja-botones p {
    margin-bottom: 0px;
    color: #005D2F;
}

main .publicacion .btn-edit {
    text-align: right;
}

main .publicacion .post .caja-botones button {
    cursor: pointer;
    padding: 3px 6px;
    display: inline-block;
    color: #fff;
    background: #005D2F;
    border-radius: 4px;
    border: none;
    line-height: 18px;
}

main .publicacion .post .caja-botones button:hover {
    background: #50c068d5;
}

main .publicacion div #publicar {
    padding: 10px;
}


/*--MEDIA QUERIES --*/

@media screen and (max-width: 767px) {
    main .btn-menu {
        display: block;
        padding: 5px 10px;
        font-size: 14px;
        background: #82b43f;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align: center;
    }
    main .btn-menu:hover {
        text-decoration: none;
        background: #005d2f;
    }
    main .fondo-enlace {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: pointer;
        background: rgba(0, 0, 0, .5);
        z-index: 99;
        display: none;
    }
    main .fondo-enlace.active {
        display: block;
    }
    main .barra-lateral-izquierda {
        width: 50%;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .85);
        height: 100vh;
        margin: 0;
        padding: 0;
        transform: translateX(-100%);
        transition: all .3s ease;
    }
    main .barra-lateral-izquierda.active {
        transform: translateX(0%);
    }
    main .barra-lateral-izquierda nav {
        border-bottom: none;
    }
    main .barra-lateral-izquierda nav a {
        padding: 15px;
        color: white;
    }
    /* main .barra-lateral-izquierda nav a:hover {
        color: #3d3c3c;
        background: white;
    } */
}

.contentPost {
    background: #cde8bf;
    padding: 10px;
    margin-bottom: 5px
}

input {
    border: none;
    background: none;
    width: 100%
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #0e9c0e;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #e67e29;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.img-post {
    width: 100%
}