.pd {
    margin: 3% 0;
}

.inline {
    display: inline-block;
    
}

input {
    border: none;
    background: #eceaea;
}

#message {
    background: #dff7e9;
    padding: 10px;
}

.profile-photo-list {
    width: 80px;
    margin: 5px;
    float: left;
}

.profile-photo {
    background: #ffff;
    border: 2px solid #e7e6e6;
    padding: 5px;
}

.profile-data {
    background: #eceaea;
    padding: 10px;
    margin: 5px;
}

.profile {
    background-color: #f6fffa;
    margin-bottom: 5px;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.green-one {
    background-color: #82b43f;
    border: none;

}

.green-two {
    background-color: #405132;
    border: none;
}

.full {
    width: 100%
}

.center {
    text-align: center
}

.fa-edit {
    color: #918a8a;
    float: right;
}

.msn {
    padding: 1em 0.5em;
    background-color: #FFF;
    border-radius: 0.8em;
    margin: 6 auto;
    margin-bottom: 20px;
    margin-top: 1em;
    color: #4E4D53;
    text-align: left;
}
/* login */

.logo img{
    margin-top: 20%;
    margin-bottom: 20%;
}

#message{
    background-color: #DEDEDE;

}

.pull-right{
    color: #82B43F;
    
}
.botones{
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        padding: .375rem .75rem;
        font-size: 1rem;
        color: #fff;
       
        line-height: 1.5;
        border-radius: .25rem;
}
.botones:hover{
 cursor: pointer;
}
