.pd {
    margin: 3% 0;
}

.inline {
    display: inline-block;
}

.infoProfile {
    border: none;
    background: none;
    color: gainsboro;
    margin-left: 5px;
    font-weight: bold;
}

input #country {
    padding-left: 10px;
    margin-left: 8px;
}

#message {
    background: #dff7e9;
    padding: 10px;
}

.profile-photo-list {
    width: 80px;
    margin: 5px;
    float: left;
}

.profile-photo {
    border-radius: 100%;
    padding: 5px;
}

.profile-data {
    background: #5d5c5c;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.green-one {
    background-color: #82b43f;
    border: none;
}

.green-two {
    background-color: #405132;
    border: none;
}

.full {
    width: 100%
}

.center {
    text-align: center
}


/* iconos */

main div .profile-icon i {
    color: #83b43f;
}

#enabledRol {
    float: right;
}

.msn {
    padding: 1em 0.5em;
    background-color: #FFF;
    border-radius: 0.8em;
    margin: 6 auto;
    margin-bottom: 20px;
    margin-top: 1em;
    color: #4E4D53;
    text-align: left;
}


/* login */

.logo img {
    margin-top: 20%;
    margin-bottom: 20%;
}

#message {
    background-color: #DEDEDE;
}

.pull-right {
    color: #82B43F;
}

.botones {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    border-radius: .25rem;
}

.botones:hover {
    cursor: pointer;
}

#enabledRol:hover {
    background: #c7c8ca;
}

#enabledCountry {
    float: right;
}

#enabledCountry:hover {
    background: #c7c8ca;
}

#userName {
    font-weight: bold;
    font-size: 20px;
}


/*Pagina de Usuarios */

.btn-users {
    border: 1px solid #fff;
    padding: 5px 30px;
    font-size: 14px;
    background: #82b43f;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.btn-users:hover {
    background: #3d3c3c;
}

#users {
    border: 0.3px solid black;
}