body {
    background-color: #DEDEDE;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
}

a {
    color: #005D2F;
}

a:hover {
    text-decoration: underline;
}


/*-- Header --*/

header {
    background: #005D2F;
    padding: 10px 0;
}

header .logo img {
    height: 30px;
    width: 30px;
}


/*-- Búsqueda -- */

#search {
    width: 100%;
    background: white;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    border-radius: 3px 0 0 3px;
    line-height: 25px;
    font-family: 'Signika Negative', sans-serif;
    color: #6d6d6d;
}

#btnSearch {
    width: 100%;
    background: white;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    border-radius: 0 3px 3px 0;
    line-height: 25px;
    cursor: pointer;
    color: #6d6d6d;
}

#btnSearch:hover {
    background: #005D2F;
    color: white;
}


/*-- Información perfil --*/

#imgProfile {}